html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 14px;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
section {
  padding-top: 94px;
  padding-bottom: 94px;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.42px;
}
.logo span {
  color: #2196f3;
}
.site-nav,
.contact-nav {
  display: flex;
  align-items: center;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}
.site-nav {
}
.site-nav .link {
  position: relative;
  margin-right: 50px;
  padding-top: 24px;
  padding-bottom: 25px;
  display: block;
}

.site-nav .current-page {
  color: var(--accent-color);
}
.site-nav .current-page::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav .item:first-child {
  margin-right: 85px;
}
.contact-nav .item + .item {
  margin-left: 30px;
}
.contact-nav {
  margin-left: auto;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav a {
  color: var(--title-text-color);
}

.contact-nav .link {
  color: var(--primary-text-color);
}
.contact-nav .link:hover,
.contact-nav .link:focus,
.contact-nav .link:active {
  color: var(--accent-color);
  --color4: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-email {
  display: inline-block;
  align-items: baseline;
  width: 16px;
  height: 11px;
  margin-right: 10px;
}

.icon-tell {
  display: inline-block;
  align-items: baseline;
  width: 10px;
  height: 15px;
  margin-right: 10px;
}

.hero {
  min-height: 600px;
  max-width: 1600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  text-align: center;
  background-position: center;
  background-size: auto;
  background-color: #2f303a;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.84px;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
button {
  border-style: none;
  overflow: hidden;
}
.button {
  display: flex;
  border-color: 1px solid transparent;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
}
.primary {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.84px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  padding: 10px;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
}
.secondary {
  padding: 6px 20px;
  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.42px;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

button:hover,
button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: 1px solid var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.feature-list {
  display: flex;
}
.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.feature-list .item + .item {
  margin-left: 30px;
  min-width: 270px;
}
.feature-list .item::before {
  display: block;
  content: "";
  height: 120px;
  background-color: #f5f4fa;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.icon-antenna::before {
  background-image: url("../images/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/clock.svg");
}
.icon-diagram::before {
  background-image: url("../images/diagram.svg");
}
.icon-austronaut::before {
  background-image: url("../images/astronaut.svg");
}
.work-examples {
  padding-top: 0;
}

.works-list {
  display: flex;
}
.works-list .item + .item {
  margin-left: 30px;
}
.works-list .item {
  position: relative;
  max-width: 100%;
  height: auto;
}
.works-list .sub-title {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 5px 10px;
}

.our-team {
  display: flex;
  max-width: 1600px;
}
.our-team .item + .item {
  margin-left: 30px;
}
.our-team > .item {
  height: 422px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}
.section-title {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.sub-title {
  margin-top: 0;
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  text-decoration: none;
}

.section-title,
.sub-title {
  font-weight: 700;
  letter-spacing: 0.42px;
  color: var(--title-text-color);
}
.work-examples .sub-title {
  display: inline-block;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
}

p {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: var(--primary-text-color);
}

.team-section {
  background-color: #f5f4fa;
}
.our-team h3,
.our-team p {
  display: block;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.42px;
  text-align: center;
}
.our-team h3 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
}
.our-team p {
  margin-bottom: 16px;
}
.social-app {
  display: flex;
  margin-left: 32px;
}
.social-app .item + .item {
  margin-left: 10px;
}

.social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50px;
}
.social-app .icon {
  display: flex;
  width: 20px;
  height: 20px;
}

.social:hover,
.social:focus {
  background: var(--accent-color);
  --color3: var(--primary-white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients {
  display: flex;
  align-items: center;
}
.clients a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 5px;
}
.clients .item + .item {
  margin-left: 30px;
}

.clients a:hover,
.clients a:focus {
  border: 2px solid var(--accent-color);
  --color3: var(--accent-color);
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
footer {
  background-color: #2f303a;
  line-height: 1.71;
  letter-spacing: 0.42px;
  color: var(--primary-white-color);
}
footer .social-app {
  margin-left: 0;
}

footer .social {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  --color3: var(--primary-white-color);
}

footer .upper-footer {
  display: flex;
  align-items: baseline;
  padding-top: 45px;
  padding-bottom: 28px;
}
.address {
  display: block;
  margin-right: 69px;
}

.emailing {
  margin-left: auto;
}
footer .logo {
  color: var(--primary-white-color);
}

footer .link {
  color: var(--primary-text-color);
}
address {
  font-style: normal;
}
strong {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
button::before {
  content: " ";
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin-right: 10px;

  background-image: url(/images/envelope.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  transition: transform 350ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}

button:hover::before {
  transform: translatey(-35px);
}

button::after {
  content: " ";
  display: inline-block;
  height: 20px;
  width: 20px;
  top: 50%;
  left: 31px;
  background-image: url(/images/send.svg);
  background-repeat: no-repeat;

  background-size: contain;
  background-position: center;
  position: absolute;
  transform: translateY(calc(-50% + 35px));
  transition: transform 350ms cubic-bezier(0.6, 0.04, 0.98, 0.335);
}
button:hover::after {
  transform: translateY(-50%);
}
.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
input {
  height: 50px;
  width: 358px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: #2f303a;
  color: var(--primary-text-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  font-size: 16px;
  line-height: 1.25;
}
form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.copyright {
  padding-top: 18px;
  padding-bottom: 21px;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  border-top: 2px solid var(--primary-text-color);
}
.filters-nav {
  margin-bottom: 50px;
  text-align: center;
}
.filters {
  display: flex;
  justify-content: center;
}

.filters .item + .item {
  margin-left: 8px;
}

.container .filters-nav {
  margin-right: auto;
  margin-left: auto;
}
.portfolio .container {
  margin-top: 93px;
  margin-bottom: 94px;
}

.card-container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio h2 {
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.84px;
  color: var(--title-text-color);
  text-decoration: none;
}
.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.42px;
  color: var(--primary-text-color);
  text-decoration: none;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}
.card-list .link {
  max-width: 100%;
  height: auto;
}

.card-item {
  width: 370px;
  min-height: 404px;
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.card-item:nth-child(3n) {
  margin-right: 0px;
}
.card-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}
.link h2 {
  color: var(--title-text-color);
}
.card-thumb {
  position: relative;
  overflow: hidden;
}

.card-thumb .description {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding-top: 63px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card-item:hover .description,
.card-item:focus .description {
  opacity: 1;
  transform: translatey(0);
}

.card-list a:hover,
.card-list a:focus {
  display: block;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 150ms;
}
